.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-transparent);
  pointer-events: auto;
}

.menuIsOpen {
  pointer-events: none;
}

.logoOnlyWrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  background-color: var(--background-color);
  border: none;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.headerContent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: calc(var(--content-width) + 15rem);
}

.headerLeft {
  left: 0.4em;
}

.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
  position: absolute;
}

.headerRight {
  right: 0.4em;
}
