.profile {
  display: flex;
  align-items: center;
  cursor: auto;
}

.profilePicture {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 100%;
  z-index: 1;
}

@media (max-width: 40em) {
  .profilePicture {
    width: 2.8rem;
    height: 2.8rem;
  }
}
