.searchSmall {
  display: inline-flex;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 2rem;
  font-size: var(--font-size-medium);
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

.searchLink {
  display: flex;
  align-items: center;
  z-index: 2;
  text-decoration: none;
  color: var(--color-text-secondary);
}

.searchText {
  padding-left: 0.2rem;
}

@media (min-width: 30em) {
  .searchSmall {
    display: none;
  }
}

@media (max-width: 29.999em) {
  .search {
    display: none;
  }
}

@media (max-width: 25.999em) {
  .searchSmall {
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
  }
  .searchSmall .searchText {
    display: none;
  }
}

.search {
  width: 12.5rem;
  outline: none;
}

@media (min-width: 60em) {
  .search {
    width: 20rem;
  }
}

.searchInner {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 2rem;
  border: 2px solid transparent;
  z-index: 2;
}

.searchSmall:hover,
.alwaysBorder,
.searchInner:focus-within {
  border-color: var(--color-btn);
}

.searchInputField {
  flex: 1;
  border: none;
  outline: none;
  padding-left: 0.3rem;
  font-size: var(--font-size-medium);
  background: none;
  width: 100%;
}

.searchInputField::placeholder {
  color: var(--color-text-secondary);
}

.searchForm {
  display: flex;
  align-items: center;
}

.searchIcon {
  color: var(--color-text-secondary);
  font-size: var(--font-size-medium);
}
