.person {
  border-radius: 1rem;
  background-color: var(--color-btn);
  /* color: white; */
  padding: 0.1rem 2rem;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
  white-space: nowrap;
  display: inline-block;
}
