.token {
  border-radius: 1rem;
  padding: 0.2rem 2rem;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
  background-color: var(--token-color);
}

.project {
  --token-color: var(--color-btn-secondary);
  color: white;
}

.account {
  --token-color: var(--color-btn);
  font-size: var(--font-size-small);
}

.batches {
  --token-color: var(--color-subtle);
  font-size: var(--font-size-small);
}
.wrapper {
  margin-bottom: 1rem;
}
