.button {
  border-radius: 2rem;
  border: none;
  background-color: var(--color-btn);
  padding: 0.5rem 1.2rem;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.button:hover {
  filter: drop-shadow(0.2rem 0.2rem 0.5rem rgba(20, 20, 20, 0.6));
}
