.button {
  border-radius: 2rem;
  border: none;
  background-color: var(--color-btn);
  box-shadow: none;
  padding: 0.5rem 1.2rem;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: box-shadow 0.1s ease;
}

.button:hover {
  box-shadow: 1px 1px 6px rgba(40, 40, 40, 0.4);
}
