.select-brand-container {
  height: 100%;
}

.btn-close {
  position: relative;
  float: right;
  border: none;
  font-size: 29px;
  color: #3f4a81;
  margin-bottom: -25px;
  z-index: 2;
  cursor: pointer;
}

.input-search {
  width: 100%;
  z-index: 1;
}

.input-search :global .MuiInput-root {
  color: #3f4a81b3;
}

.input-search :global .MuiInputLabel-root {
  color: #3f4a81b3;
}

.no-results {
  color: #3f4a81;
}

.scrollable-box {
  overflow: auto;
  padding-right: 25px;
  margin-top: 25px;
  height: calc(100% - 60px);
}

.scrollable-box::-webkit-scrollbar {
  width: 8px;
  cursor: pointer !important;
}

/* Track */
.scrollable-box::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
.scrollable-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #323f7f;
}

.label-modal {
  color: #23366f;
}

.popular-brand-box {
  display: flex;
  flex-direction: column;
  color: #23366f;
  font-size: 0.75rem;
  padding: 10px;
  cursor: pointer;
  max-width: 100%;
  text-align: center;
  @media (min-width: 768px) {
    max-width: 100px;
  }
}

.popular-brand-image {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.popular-brands-container {
  display: grid;
  grid-gap: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
  grid-template-columns: repeat(3, auto);
  padding: 5px;
  @media (min-width: 992px) {
    grid-template-columns: repeat(6, auto);
  }
}

.brands-container {
  display: grid;
  grid-gap: 10px;
  margin-top: 15px;
  grid-template-columns: repeat(1, auto);
  @media (min-width: 576px) {
    grid-template-columns: repeat(2, auto);
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, auto);
  }
}

.brand-box {
  border: 1px solid #323f7f;
  border-radius: 12px;
  height: 100%;
  padding-block: 1rem;
  font-size: 0.9rem;
  color: #323f7f;
  line-height: 1.5;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}
