.select-modal-container {
  border-radius: 12px;
  max-width: 100%;
  border: 2px solid rgb(47, 165, 213);
  outline: none;
  background: transparent;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0.375rem 0.45rem 0.375rem 0.75rem;
  height: 40px;
  color: #323f7f;
  cursor: pointer;
}

.disabled {
  border: 2px solid rgba(47, 165, 213, 0.5);
  color: #999;
}

.input {
  border: none;
  color: #323f7f;
  cursor: pointer;
  width: 100%;
  font-size: 0.9rem;
  text-transform: capitalize;
  @media (min-width: 768px) {
    font-size: 0.95rem;
  }
}

.placeholder {
  opacity: 0.75;
  color: #999;
}

.img-select {
  width: 18px;
  height: 18px;
  margin: 5px;
  cursor: pointer;
}

.modal-container {
  display: block;
  max-height: 90%;
}

.modal-box {
  display: block;
  position: relative;
  height: 100%;
  border-radius: 1rem;
  background-color: #eff3f6;
  box-shadow: 1px 1px 19px #0202020f;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 100%;
  padding: 2rem 1.5rem 3rem 1.5rem;
  @media (min-width: 360px) {
    max-width: 340px;
  }
  @media (min-width: 576px) {
    max-width: 500px;
    padding: 0.75rem 2rem 3rem 2rem;
  }
  @media (min-width: 768px) {
    margin-top: 50px;
    padding: 2.5rem 3rem 3rem 3rem;
  }
  @media (min-width: 992px) {
    max-width: 800px;
    width: 100%;
  }
}
