.token {
  border-radius: 1rem;
  background-color: var(--color-btn);
  padding: 0.1rem 2rem;
  white-space: nowrap;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
  display: inline-block;
}

.title {
  color: var(--color-text-secondary);
  transition: color 0.3s ease;
  cursor: pointer;
}

.title:hover {
  color: var(--color-subtle);
}
