@media (min-width: 40em) {
  .alignCenterOnMedium {
    text-align: center;
  }
}

.content h1,
.content textarea {
  font-size: var(--font-size-xx-large);
  font-weight: bold;
  line-height: 1;
  padding: 0;
  margin-top: 0;
}

.isEditable:hover {
  cursor: pointer;
  box-shadow: inset 0 -1px 0 var(--color-subtle);
}

.content textarea {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  vertical-align: top;
  overflow: hidden;
  resize: none;
  margin-bottom: 2rem;
  box-shadow: inset 0 -1px 0 var(--color-text-secondary);
}

.action {
  position: absolute;
  display: flex;
  z-index: 7;
  font-size: var(--font-size-medium);
  top: -0.4rem;
  right: 0;
}

.backAction {
  font-size: var(--font-size-x-large);
  color: var(--color-btn-secondary);
  cursor: pointer;
}

.backAction:hover {
  color: var(--color-btn);
}

@media (max-width: 39.99em) {
  .content h1,
  .content textarea {
    font-size: var(--font-size-x-large);
    margin-top: 0.4rem;
    margin-bottom: 0;
  }

  .action {
    font-size: var(--font-size-small);
  }
}
