.content {
  position: relative;
}

@media (min-width: 40em) {
  .alignCenterOnMedium {
    text-align: center;
  }
}

.content h1,
.content textarea {
  font-size: var(--font-size-xx-large);
  font-weight: bold;
  line-height: 1;
}

.content h1,
.content textarea {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.isEditable:hover {
  cursor: pointer;
  box-shadow: inset 0 -1px 0 var(--color-subtle);
}

.content textarea {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  vertical-align: top;
  overflow: hidden;
  resize: none;
  box-shadow: inset 0 -1px 0 var(--color-text-secondary);
}

.flush {
  margin: 0 !important;
}

.action {
  position: absolute;
  display: flex;
  z-index: 7;
  font-size: var(--font-size-small);
  top: 0;
  right: 0;
}

.backAction {
  font-size: var(--font-size-x-large);
  color: var(--color-btn-secondary);
}

.backAction:hover {
  color: var(--color-btn);
}

@media (min-width: 60em) {
  .action {
    top: -3rem !important;
    right: -3rem !important;
  }
}

@media (min-width: 40em) {
  .action {
    top: -2rem !important;
    right: -2rem !important;
  }
}

@media (max-width: 40em) {
  .content h1,
  .content input[type="text"] {
    font-size: var(--font-size-x-large);
  }
  .action {
    top: -0.5rem !important;
    right: 0.5rem !important;
    font-size: var(--font-size-x-small);
  }
}

.actionBtn {
  padding-left: 2.2em;
  cursor: pointer;
  position: relative;
  color: var(--color-btn-secondary);
  display: inline-block;
  margin: 0;
  padding: 0.3em 0.8em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 3rem;
  white-space: nowrap;
  background-color: white;
  border: 1px solid var(--color-btn-secondary);
  transition: background-color 150ms ease;
}

.actionBtn:hover {
  background-color: var(--color-btn);
  border: 1px solid var(--color-btn);
}
