.wrapper {
  display: flex;
  justify-content: space-between;
}

.menuItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  margin: 0 5px;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-btn);
  box-shadow: none;
  color: var(--color-text);
  transition: background-color 1s ease, color 1s ease;
  text-decoration: none;
}

.menuItem:hover {
  filter: brightness(98%);
  box-shadow: 2px 2px 8px rgba(89, 88, 88, 0.344);
}

.noColorScheme .menuItem {
  border: 1px solid gray;
}

.menuIcon {
  font-size: 6rem;
}

.menuLabel {
  margin-top: -2rem;
  font-weight: bold;
}

.wrapper :first-child.menuItem {
  margin-left: 0;
}

.wrapper :last-child.menuItem {
  margin-right: 0;
}

@media (max-width: 24.999em) {
  .menuIcon {
    font-size: var(--font-size-xx-large);
  }
  .menuLabel {
    margin-top: -1rem;
    font-size: var(--font-size-xx-small);
    font-weight: normal;
  }
}
