.menu {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 40em) {
  .menu {
    border-radius: 0.8rem;
  }
}

.contextSection,
.navigationSection {
  padding: 1rem;
}
