.listItem {
  margin-left: calc(var(--sheet-padding) * -1);
  margin-right: calc(var(--sheet-padding) * -1);
  order: 1;
  position: relative;
  display: block;
}

@media (min-width: 40em) {
  .listItem {
    padding-left: var(--sheet-padding);
    padding-right: var(--sheet-padding);
  }
}

.postLine {
  position: relative;
  display: grid;
  grid-template-columns: calc(2.25em + 1rem) calc(100% - 2.25em - 2rem);
  min-height: 5rem;
  margin: 0 auto;
  padding: 0.25em 0 0.25em 0.75rem;
  grid-template-areas: "checkbox content" ". note";
}

@media (min-width: 60em) {
  .postLine {
    padding: 0.5em 1rem;
  }
}

.postCheckbox {
  position: relative;
  padding: 0.6rem 1.1rem 0;
  align-self: flex-start;
  font-size: var(--font-size-x-large);
}

@media (min-width: 40em) {
  .postCheckbox {
    padding-top: 0;
  }
}

.postBody {
  display: flex;
  color: var(--color-text);
  cursor: pointer;
  flex-direction: column;
  justify-content: stretch;
  text-decoration: none;
  outline: none;
}

.postLine:hover {
  background-color: var(--background-color);
}

.content {
  justify-content: flex-start;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  padding: 0.3rem 1em 0.3rem 0;
  align-items: center;
}

@media (min-width: 60em) {
  .content {
    padding: 0;
    line-height: 1.2;
  }
}

.content h3 {
  font-size: var(--font-size-medium);
  font-weight: bold;
  line-height: 1;
  display: flex;
  align-items: center;
  margin: 0 0 -1px;
  padding-bottom: 0.1rem;
  overflow: hidden;
}

.content h3 span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  line-height: 1.3;
  flex-shrink: 0;
}

.content p {
  margin: 0 !important;
  font-size: var(--font-size-x-small);
  color: var(--subtle-text-color);
}
