.fullWidth {
  width: 100%;
}

.editorInput {
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: inherit;
  transition: background-color 1s ease;
}

.unsaved {
  background-color: rgba(232, 67, 34, 0.1);
}

.editorInput h1,
.editorInput h2,
.editorInput h3 {
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 1.4rem;
  margin-bottom: 0.6rem;
}

.editorInput h4,
.editorInput h5,
.editorInput h6 {
  font-weight: normal;
  text-decoration: underline;
  margin-top: 0.8rem;
  margin-bottom: 0.2rem;
}

.editorInput h1 {
  font-size: 2.1rem;
}

.editorInput h2 {
  font-size: 2rem;
}

.editorInput h3 {
  font-size: 2rem;
}

.editorInput h4 {
  font-size: 1.9rem;
}

.editorInput h5 {
  font-size: 1.8rem;
}

.editorInput h6 {
  font-size: 1.8rem;
  font-style: italic;
}
