.page {
  width: 100%;
  max-width: var(--content-width);
  min-height: calc(100vh - var(--body-padding) - var(--page-padding) * 2);
  padding: var(--page-padding);
  margin: 0 auto;
  position: relative;
}

@media (min-width: 60em) {
  .page {
    max-width: none;
  }
}

.pageContent {
  min-height: calc(100vh - var(--body-padding) - var(--page-padding));
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  margin-bottom: calc(var(--page-padding) * -1);
  max-width: var(--content-width);
  margin: 0 auto;
}

@media (min-width: 40em) {
  .pageContent {
    min-height: calc(100vh - var(--body-padding) - 2rem);
    margin-bottom: -2rem;
  }
}

@media (min-width: 60em) {
  .pageContent {
    min-height: calc(100vh - var(--body-padding) - 3rem);
    margin-bottom: -3rem;
  }
}

.sheet {
  --sheet-padding: 1em;
  padding: var(--sheet-padding);
  background: var(--color-bg-sheet);
  box-shadow: 0 0 3rem var(--color-shadow);
  margin: 0 var(--negative-page-padding) 0;
  width: calc(100% + var(--page-padding) * 2);
  border-radius: 0;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}

.sheetVh {
  min-height: calc(100vh - 7.6rem);
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.sheetContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 0;
}

@media (min-width: 60em) {
  .sheet {
    --sheet-padding: 5rem;
  }
}

@media (min-width: 40em) {
  .sheet {
    --sheet-padding: 2em;
    margin: 0 auto 2em;
    width: 100%;
    border-radius: 1.5em;
  }
}

.categoryWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.categoryContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  margin-top: var(--base-space);
}
