.page {
  width: 100%;
  filter: blur(0);
  max-width: var(--content-width);
  min-height: calc(100vh - var(--body-padding) - var(--page-padding) * 2);
  margin: 0 auto;
  position: relative;
  transition: filter 0.5s ease;
  pointer-events: auto;
}

@media (min-width: 60em) {
  .page {
    max-width: none;
    padding: var(--page-padding);
  }
}

.menuOpen {
  filter: blur(10px);
  pointer-events: none;
}

.pageContent {
  min-height: calc(100vh - var(--body-padding) - var(--page-padding));
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  margin-bottom: calc(var(--page-padding) * -1);
  max-width: var(--content-width);
  margin: 0 auto;
}

@media (min-width: 40em) {
  .pageContent {
    min-height: calc(100vh - var(--body-padding) - 2rem);
    margin-bottom: -2rem;
  }
}

@media (min-width: 60em) {
  .pageContent {
    min-height: calc(100vh - var(--body-padding) - 3rem);
    margin-bottom: -3rem;
  }
}

.sheet {
  --sheet-padding: 0.6em;
  padding: var(--sheet-padding);
  background: var(--color-bg-sheet);
  box-shadow: 0 0 3rem var(--color-shadow);
  margin: 0 var(--negative-page-padding) 0;
  /* width: calc(100% + var(--page-padding) / 2); */
  width: 100%;
  border-radius: 0;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}

.sheetVh {
  min-height: calc(100vh - 7.6rem);
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.sheetContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 0;
}

@media (min-width: 60em) {
  .sheet {
    --sheet-padding: 5rem;
  }
}

@media (min-width: 40em) {
  .sheet {
    --sheet-padding: 2em;
    margin: 0 auto 2em;
    width: 100%;
    border-radius: 1.5em;
  }
}

.categoryWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.categoryContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  margin-top: var(--base-space);
}

.familyColorScheme {
  --family-color-main: hwb(55 35% 5%);
  --background-color: rgb(245, 245, 242);
  --bg-color-transparent: rgba(245, 245, 242, 0.95);
  --color-shadow: rgba(58, 53, 4, 0.1);
  --color-btn: var(--family-color-main);
  --color-btn-secondary: hsl(55, 88%, 17%);
  --color-text: #1c1b0c;
  --color-text-secondary: #66644d;
  --logo-filter: grayscale(100%) sepia(1) hue-rotate(340deg) brightness(90%)
    saturate(400%);
}

.hobbyColorScheme {
  --hobby-color-main: hwb(98 31% 8%);
  --background-color: rgb(246, 252, 242);
  --bg-color-transparent: rgba(246, 252, 242, 0.95);
  --color-shadow: rgba(23, 60, 1, 0.1);
  --color-btn: var(--hobby-color-main);
  --color-btn-secondary: hsl(98, 96%, 17%);
  --color-text: #131d0e;
  --color-text-secondary: #4b5943;
  --logo-filter: grayscale(100%) sepia(1) hue-rotate(40deg) brightness(90%)
    saturate(400%);
}

.workColorScheme {
  --work-color-main: hwb(181 31% 8%);
  --background-color: rgb(242, 252, 252);
  --bg-color-transparent: rgba(242, 252, 252, 0.95);
  --color-shadow: rgba(2, 59, 60, 0.1);
  --color-btn: var(--work-color-main);
  --color-btn-secondary: hsl(181, 95%, 17%);
  --color-text: #0e1b1b;
  --color-text-secondary: #435859;
  --logo-filter: grayscale(100%) sepia(1) hue-rotate(100deg) brightness(90%)
    saturate(400%);
}

.familyColorScheme,
.hobbyColorScheme,
.workColorScheme {
  background-color: var(--background-color);
}
